/*This file is for the feedback style*/

.fb-div {
    background-color: #e3e3e3;
    display: none;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
  	padding-right: 10px;

}

.btn-close{

	right: 5px;
	position: absolute;
	bottom: 265px;
}

.main-label{
	  font-size: 20px;
	  font-family: Arial;
	  font-weight: bold;
	  
}

.sub-label{
	  font-size: 16px;
	  font-family: Arial;
}
