#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#page-content-wrapper {
  width: 100%;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

}